{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% if title %}
        <title>Django Blog - {{ title }}</title>
    {% else %}
        <title>Django Blog</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md  bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4 blog" href="{% url 'blog-home' %}">Django blog</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
              <a class="nav-item nav-link" href="{% url 'blog-home' %}">Our Story</a>
             
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              
              {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'post-create' %}">Write</a>
                <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>

    <div class="overview">
            <b>Everyone has a <br> story to tell.</b><br><br>

            <div class="first">
                Medium is a home for human stories and ideas. Here, anyone can share <br> insightful perspectives, useful knowledge, and life wisdom with the <br> world—without building a mailing list or a following first. The internet is <br> noisy and chaotic; Medium is quiet yet full of insight. It’s simple, <br> beautiful, collaborative, and helps you find the right audience <br> for whatever you have to say.
            </div><br>

            <div class="second">
                We believe that what you read and write matters. Words can divide or <br> empower us, inspire or discourage us. In a world where the most <br> sensational and surface-level stories often win, we’re building a system <br> that rewards depth, nuance, and time well spent. A space for thoughtful <br> conversation more than drive-by takes, and substance over packaging.
            </div><br><br>

            <div class="three">
                <mark class="threestyle">Ultimately, our goal is to deepen our collective <br> understanding of the world through the power of <br> writing.</mark>
            </div><br><br>
          </div>
            <div class="reading1">              
            <hr>
              <a href="/story" class="reading">Start Reading  <i class="fa fa-arrow-right arrow" aria-hidden="true"></i></a>
              <hr>
            </div>    <br><br>        
          
    


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
